.player {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5px;
  place-items: center;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.avater img {
  padding: 2px;
  border: 1px solid lightgray;
}
p {
  margin: 0;
}
